.sitemap h4, .sitemap a {
  
    line-height: 26px;
    margin-block: 0;
    padding-block: .5rem;
    text-align: left;
    max-width: 150px;
    display: block;
    width: 100%;
    color: #999999;
    font-size: .875rem!important;
    display: inline-block;
    text-decoration: none;
    margin-left: 0;
    cursor: pointer;
}
.sitemap h4 {
    margin-left: -1.2rem;
}
.sitemap svg {
  transform: translateX(-50px) translateY(3px);
}
.site-map-container {
    width: 70%;
    padding-left:0 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-block: 3rem;
}
.site-map-container ul {
    height: 0px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    
    margin-block: 0;
}
.site-map-container.open ul {
    height: 500px;
}
.site-map-cats ul li {
    list-style: none;
    padding-block: 1rem;
}



